
/* Overlay Container */
.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    height: 290px;
    overflow-y: auto;
    z-index: 9999; /* Ensure it's fully on top */
}

/* Magic typing text */
.magic-text {
    color: white;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Courier New', monospace;
    white-space: pre-line;
    overflow: hidden;
    display: inline-block;
}


@keyframes blinkCursor {
    50% { border-color: transparent; }
}


/* Adjust font sizes for different screen sizes */
@media (max-width: 768px) {
    .magic-text {
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .magic-text {
        font-size: 1.2rem;
    }
}