.wrap{
  margin-top: -400px;
}

.oil-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); /* Adjust as needed */
    gap: 14px; 
    padding: 12px; /* Optional: Add padding to the container */
  ;
  }
  .sho{
    margin-left: 455px;
  }
  
  .oil-card {
    width: 230px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin-left: 29px;
    padding-bottom: 15px;
    height: 406px;
  }
  .oils{
    font-size: 30px;
    /* margin-left:530px; */
  }
  
  .oil-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  }
  .oil-add {
    background-color: black; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove default border */
    padding: 5px 5px; /* Add padding */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
    width: 100%; /* Full width of the card */
    margin-top: 22px; /* Space above the button */
  }
  /* Responsive Design */
@media screen and (max-width: 1024px) {

  .wrap{
    margin-top: -300px;
  }
  .oil-card {
    width: 80%; /* Adjust width for tablets */
    height: 400px;
    padding-bottom: 10px;
  }

  .oil-add {
    font-size: 14px;
    padding: 8px;
    margin-top: 25px;
  }
  .h4 oils{
    font-size: 507px;
    margin-top: 90px;
    display: flex;
    left: -1750px;
  }
}

@media screen and (max-width: 480px) {

 
  .oil-card {
    width: 260px; /* Full width for mobile */
    height: 477px;
    margin-left: 45px;
    padding-bottom: 10px;
  }
  .perfume-image{
    width: 100%;
    height: 70%;
  }

  .oil-add {
    margin-top: 25px;
    font-size: 14px;
    padding: 12px;
  } 
.oils{
  left: -410px;
  position: relative;
   display:inline-block;
   white-space: nowrap;
   font-size: 25px;
  }
}
